.container {
	position: relative;
	text-align: center;
	color: #FFFFFF;
}

/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 1%;
	left: 2%;
}

/* Top left text */
.top-left {
	position: absolute;
	top: 1%;
	left: 2%;
}

/* Top right text */
.top-right {
	position: absolute;
	top: 1%;
	right: 2%;
}

/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 1%;
	right: 2%;
}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titlebar {
	position: relative;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	background: #4676F2;
	box-shadow: 0% 1% 1& rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	width: 349px;
	height: 90px;
}


.largebutton {
	position: relative;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	background: #EB9F45;
	box-shadow: 0% 1% 1& rgba(0, 0, 0, 0.25);
	border-radius: 60px;
	width: 300px;
	height: 300px;
}
